h1{
     font-size:15px;
    }
    .div{
     background-color: darkgray;
     width:34% ;
     height: 60%;
  
    }
    #a{
     font-size: 15px;
     background-color:red;width: 23%;height: 20%; 
    }
    #b{
     font-size: 15px;
     background-color: green;
     width: 29%;
     height: 20%;
     position: relative; display: inline-block;
    }
    #c{
     font-size: 15px;
     background-color: blueviolet;
     width: 23%;
     height: 20%;
     display: block;
     position: absolute;
     right: 27%;
     top: 40%;
    }
    
    